@charset "UTF-8";

body {
	padding-top: 7.25rem;
	/* Ensure there's enough space for both fixed navbars */
}

.navbar.is-white {
	background-color: white;
}

.navbar .navbar-brand img {
	padding-top: 10px;
	max-height: 60px;
}

.login_button a, .project_button a, .logout_button a, .MyPage_button a,
	.DonateList_button a {
	padding: 5px;
	border: 2px solid transparent;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: transparent;
}

.login_button a, .logout_button a {
	color: #007bff; /* Primary color */
	border: 2px solid #007bff;
}

.login_button a:hover, .logout_button a:hover {
	background-color: rgba(0, 123, 255, 0.1);
	border-color: #0056b3;
	color: #0056b3;
}

.project_button a, .MyPage_button a {
	color: #ff9800; /* Orange color */
	border: 2px solid #ff9800;
}

.project_button a:hover, .MyPage_button a:hover {
	background-color: rgba(255, 152, 0, 0.1);
	border-color: #e68900;
	color: #e68900;
}

.second-navbar {
	margin-top: 4rem;
	background-color: #f9f9f9;
}

.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropdown .navbar-link  {
	cursor: pointer;
	padding: 5px;
	display: grid;
	align-items: center;
}

.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	min-width:100px;
	top: 100%; /* Ensure the dropdown content appears below the button */
	left: 0;
	/* Align the dropdown content with the left edge of the button */
}

.dropdown .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar-item {
	padding: 0.5rem 1rem;
}

.navbar-end .field {
	margin-bottom: 0;
}
.dropdown .navbar-link::after,
.dropdown .navbar-link::before {
    content: none !important;
    display: none !important;
}

.dropdown .navbar-link .fa,
.dropdown .navbar-link .glyphicon,
.dropdown .navbar-link .icon {
    display: none !important;
}